body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}
/* header */
.logo-company-web {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-company-studio {
    font-family: Raleway, sans-serif;
    color: #2E2F42;

}
.list-navbar a {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.studio-list:hover {
    color: #404bbf;
}

.studio-list:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.info-company {
    font-size: 16px;
    color: #434455;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.info-company:hover {
    color: #404bbf;
}

.info-company:focus {
    color: #404bbf;
}

/* main */
.section-effective {
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    text-align: center;
    color: #fff;
}

.text-effective {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.button-order {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.button-text {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.button-order:hover {
    background-color: #404BBF;
}

.button-order:focus {
    background-color: #404BBF;
}

.text-list {
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-our-team {
    background-color: #F4F4FD;
}

.text-sections {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.list-info {
    background-color: #ffffff;
}

.p-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* footer */

.footer-webstudio {
    background-color: #2E2F42;
    color: #f4f4fd;
}

.p-footer {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

