body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}
/* header */
.logo-company-web {
    font-family: Raleway, sans-serif;
    color: #4D5AE5;
}

.logo-company-studio {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2E2F42;

}
.list-navbar a {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2E2F42;

}

.info-company a {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #434455;
}



/* main */
.section-effective {
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    text-align: center;
    color: #fff;
}

.text-effective {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 56px;
}

.button-order {
    background-color: #4D5AE5;
}

.button-text {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}



/* footer */